<div class="contact-floating" [class.expanded]="isExpanded">
    <div class="contact-options">
        <a href="https://wa.me/8552980643" class="whatsapp" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="tel:+918552980643" class="phone">
            <i class="fas fa-phone"></i>
        </a>
    </div>
    <button class="contact-button" (click)="toggleContact()">
        <i class="fas fa-headset"></i> Contact
    </button>


</div>